@import "tailwindcss";

@theme {
  --color-primary: #0f1624;
  --color-secondary: #88f7f1;
  --color-light-cyan: #92e7db;
  --font-elms: "Elms Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

@layer base {
  body {
    @apply min-h-screen bg-primary font-raleway text-white;
  }
}

@layer components {
  .auth-heading-btn {
    @apply text-center text-3xl mb-8 font-black bg-linear-to-r from-white via-light-cyan to-secondary bg-clip-text text-transparent
  }
}

button:not(:disabled) {
  cursor: pointer;
}
