@import "tailwindcss";

@theme {
  --color-primary: #0f1624;
  --color-secondary: #88f7f1;
  --font-elms: "Elms Sans", sans-serif;
  --font-raleway: "Raleway", sans-serif;
}

@layer base {
  body {
    @apply min-h-screen bg-primary font-raleway;
  }
}
